.table thead th{
    vertical-align: middle!important;
}
.table td{
    vertical-align: middle!important;
}
.bigger-text:hover {
    font-weight: bold;
}
.first-color{
    background-color: #FFF2DF;
}
.second-color{
    background-color: #DEFFF0;
}